body {
  background-image: url("https://photos.smugmug.com/photos/i-8sfC3vH/0/O/i-8sfC3vH-O.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-content: center;
}
h4{
  margin: 0rem;
}
footer {
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  font-size: 100%;
} 
img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 30%;
}
ul li {
  margin-left: 20%;
  width: fit-content;
}
.articles {
  display: flex;
  justify-content: space-between;
margin: -1rem 2rem 2rem 2rem;
}
.contact {
  margin-bottom: 5rem;
}

.background {
  padding: 0% 1.5rem 1rem 1.5rem;
}
.entire-nav {
  padding-top: 1%;
  padding-bottom: 1.5%;margin: auto;
}
#name-goal{
  padding: 1% 0 1% 0;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.goal, .name {
  margin: 0;
  padding-top: 1rem;
}
.grid-soft-skills, .grid-hard-skills {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding-bottom: 1rem; 
}
.nav-bar {
  display: grid;
  grid-auto-flow: column;
}
.project-page h3 {
  margin-left: 75px;
  text-align: left;
}
.quick-access-header, .contact-container, .tech-skill-container, .professional-projects-container, .project-list, .katas-container, .background, .grid-soft-skills, .grid-hard-skills, .networking, .contact-container{
  margin: 3rem;
}
.quick-access {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 3rem;
}
#top-of-page{ 
  padding-top: 1rem;}
.skill-list {
  margin-left: 5%;
  margin-right: 70%;
  padding: 10px;
}
.soft-skills, .hard-skills {
  grid-column: 1/5;
}
.sites {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.thing1 {
  margin: 15px;
  padding: 10px;
}
.thing1 img,
.thing2 img,
.thing3 img {
  border-radius: 0%;
  margin-bottom: 0rem;
  width: 75%;
}
.thing2 {
  margin: 15px;
  padding: 10px;
}
.thing3 {
  margin: 15px;
  padding: 10px;
}