img {
  display: block;
  border-radius: 50%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  padding: 40px;
}
body {
  align-content: center;
}
.articles {
  display: flex;
  justify-content: space-between;
}
.entire-nav {
  padding-bottom: 5%;
  padding-top: 0.5%;
}
.nav-bar {
  display: grid;
  grid-auto-flow: column;
}
.goal {
  margin: 2rem;
}
.grid-soft-skills {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-bottom: 8rem;
  margin-left: 10%;
  margin-right: 10%;
}
.soft-skills {
  grid-column: 1/5;
}
.networking {
  margin: 3rem;
  margin-left: 30%;
  margin-right: 30%;
}
.sites {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.contact {
  margin-bottom: 5rem;
}
.background {
  margin-bottom: 5rem;
}
.quick-access {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project-page h3 {
  text-align: left;
  margin-left: 75px;
}
ul li {
  width: fit-content;
  margin-left: 20%;
}
.skill-list{
    padding: 10px;
    margin-left: 5%;
    margin-right: 70%;
}
.thing1 {
  padding: 10px;
  margin: 15px;
}
.thing1 img,
.thing2 img,
.thing3 img {
  border-radius: 0%;
  width: 75%;
  margin-bottom: 0rem;
}
.thing2 {
  padding: 10px;
  margin: 15px;
}
.thing3 {
  padding: 10px;
  margin: 15px;
}
