:root {
  --color1: #eeeeee;
  --color2: #aaaaaa;
  --color3: #929495;
  --color4: #afbed1;
  --color5: #36393b;
  --color6: #0a2463;
  --color7: #084b83;
  --color8: #08599e;
  --color9: #0774bc;
  --color10: #069def;
  --color11: #56cbf9;
}
a {
  color: var(--color4);
}

body {
  background-color: var(--color9);
  color: var(--color4);
  text-align: center;
  font-family: cursive;
  font-size: 100%;
}
h1 {
  color: var(--color4);
  font-size: 400%;
}
h2 {
  color: var(--color4);
  font-size: 200%;
}
h3 {
  color: var(--color4);
  font-size: 170%;
}
h4 {
  color: var(--color4);
  font-size: 130%;
}
footer {
  background-color: var(--color5);
}
.entire-nav {
  background-color: var(--color6);
}
.nav-bar {
  font-size: 200%;
}
.goal {
  font-size: 300%;
  color: var(--color5);
}
.quick-access {
    background-color: var(--color8);
}
.thing1{
    background-color: var(--color10);
}
.thing2{
    background-color: var(--color10);
}
.thing3{
    background-color: var(--color10);
}
.skill-list{
   background-color: var(--color10);
   border-color: var(--color3);
}


