:root {
  --color1: white;
  --color2: #aaaaaa;
  --color3: #929495;
  --color4: #afbed1;
  --color5: #36393b;
  --color6: #0a2463;
  --color12: rgba(49, 47, 47, 0.644);
}
a {
  color: var(--color1);
}
body {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
  text-align: center;
}

footer {
  background-color: var(--color5);
  font-size: 100%;
 }
html {
  background-image: url("https://photos.smugmug.com/photos/i-8sfC3vH/0/O/i-8sfC3vH-O.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vw;
  color: var(--color1);
  position: fixed;
}  
h1 {
  font-size: 300%;
}
.goal {
  font-size: 200%;
}
#name-goal, .background, .grid-soft-skills, .grid-hard-skills, .entire-nav, .thing1, .thing2, .thing3, .quick-access{
  color: var(--color1);
  background-color: var(--color12);
  border-style: inset;
  border-width: thick;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 170%;
}
h4 {
  font-size: 140%;
}

.nav-bar {
  font-size: 200%;
}
/* .skill-list {
  background-color: var(--color10);
  border-color: var(--color3);
} */

