@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&display=swap');


:root{
    --color1:#EEEEEE;
    --color2:#aaaaaa;
    --color3:#929495;
    --color4:#AFBED1;
    --color5:#36393B;
    --color6:#0A2463;
    --color7:#084B83;
    --color8:#08599E;
    --color9:#0774BC;
    --color10:#069DEF;
    --color11:#56CBF9;
    --cursive: 'Architects Daughter', cursive;
    --roboto: 'Roboto', sans-serif;
/* .title-font {color: var(--color3); */



